<header>
    <nav>
        <a href="/">MYBRARY</a>
        <ul>
            <li>
                <a href="/authers">authors</a>
            </li>
            <li>
                <a href="/authers/new">add authors</a>
            </li>
        </ul>
    </nav>
</header>